<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="osu_trainer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup>
    <userSettings>
        <osu_trainer.Properties.Settings>
            <setting name="SongsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="NoSpinners" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChangePitch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HighARODMessageShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotCheckForUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HPLockedState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CSLockedState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ARLockedState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ODLockedState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LockedHPSetting" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="LockedCSSetting" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="LockedARSetting" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="LockedODSetting" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="BpmLockedState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LockedBpmSetting" serializeAs="String">
                <value>200</value>
            </setting>
        </osu_trainer.Properties.Settings>
    </userSettings>
</configuration>
